form{
    border: solid 1px;
    width: 600px;
    margin-left: 350px;
    background-color: yellow;
    pending-left:20px;
}
h1{
    text-align: centre;
    font-size: 50px;
    color: beige;

}
label{
    font-size: 30px;
    font-weight: bold;
    color: rgb(223, 229,230);

}
input{
    height: 25px;
    width: 200px;
}
textarea{
    width: 400px;
    height: 60px;
}
